:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* @import url("https://fonts.googleapis.com/css2?family=Geist:wght@400;500;700&display=swap"); */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* font-family: "Geist", Arial, Helvetica, sans-serif; */
  color: var(--foreground);
  background: var(--background);
  /* font-family: "Geist", Arial, Helvetica, sans-serif; */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
